@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');

/* GLOBAL */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}

/* HEADER SECTION*/
.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0089BA;
    gap: .5rem;
    margin-bottom: 50px;
    
}
.header__img {
    padding: 1rem 0;
    max-width: 84px;
}
.header__title {
    color: #ffffff;
    font-size: 15px;
}

/* CARD SECTION */
.card__container {
    display: flex;
    margin: 0 3rem;
    gap: 1rem;
    align-items: center;
    max-width: 700px;
   
    
}

.card__img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover
    /* margin-bottom: 20px; */
}
.card__icon {
    color: #0089BA;
    padding-right: .25rem;
}
.card__location {
    padding-right: .5rem;
    text-transform: uppercase
}
.card__map {
    color: #918E9B;
}
.card__title {
    font-weight: 700;
    margin: .25rem 0;
    padding-right: .5rem;
    font-size: 25px;
}

.card__dates {

    font-weight: 700;
}
.card__body {
    
}
.card__divider {
    border-bottom: 1px solid #0089BA;
    padding: 1rem 0;
}
.card--badge {
    position: absolute;
    bottom: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}